body {
    text-align: center;
    background: #111;
    color: white;
    font-family: Arial;
}

canvas {
    background: #222;
    display: block;
    margin: 20px auto;
}

#modMenu {
    background: #333;
    padding: 15px;
    width: 200px;
    margin: auto;
    border-radius: 10px;
}
